

main {
    font-family: "montserrat", "Raleway", "Avenir Next", "Avenir", sans-serif;
}

h1 {
    font-family: "Raleway", "Avenir Next", "Avenir", sans-serif;
    font-size: 50px;
    text-align: center;
}
p {
    font-size: 20px;
}

section {
    width: 98%;
    border: 0px;
    display: flex;
    flex-direction: column;
}

section img {
    width: 98%;
}

@media (min-width: 600px) {

div p {
    font-size: 20px;
}


footer {
    font-size: 20px;
}

}


@media (min-width: 800px) {
    main section div {
        width: 60%;
        margin-right: auto;
        margin-left: auto;

    }
}

