


h2 {
    
    margin-left: 3%;

}

p {
    font-size: 18px;

}

main img {
  display: none;
}

footer p {
  font-size: 16px;

}




.accordion {
    font-family: "Montserrat", "Raleway", "Avenir Next", "Avenir", sans-serif;
    background-color: black;
    color: #dadada;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    
    transition: 0.4s;
    width: 100%;
  
  }
  
  .accordion:hover {
    background-color: #56838F;
  }
  
  .active {
    background-color: #3d777d;
  }

  
  .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  section {
    margin-top: 0;
  }

@media (min-width: 600px) {
  main {
    margin-top: 32%;
  }
}

@media (min-width: 800px) {

  main {
    margin-top: 23%;
  }

  .accordion:after {
    content: '\002B';
    color: #dadada;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }

  .faqs {
    width: 100%;
  }

  .image {
    
  }

  .accordion:active .panel {
    
    max-height: max-content;
    height: 100px;
    
  }
}

@media (min-width: 1024px) {

  main {
    margin-top: 18%;
  }
}

@media (min-width: 1200px) {

  main {
    margin-top: 15%;
  }

  main div section {
    width: 80%;
  }

  main img{
    display: block;
    width: 90%;
    
  }

  main div {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  p {
    width: 100%;

  }

  .accordion {
    width: 100%;
  }
}


@media (min-width: 1600px) {



  .faqs {
    width: 70%;
  }

  main {
    margin-top: 12%;
  }



}
