

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #090909;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #c5808c;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #dadada;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #090909;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: auto;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #dadada;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
} 

#menu ul {

  height: 400px;
}

#menu .social_icons {
  width: 50%;
 

}

.navigation {
  display: flex;
  flex-direction: row;

}

#main-navigation {
  display: none;
  width: 100%;
  }

  #main-navigation a {
  display: block;
  color: #e0e4e2;
  text-decoration: none; 
  outline: none; 
  margin: 2%;
  font-size: 18px;

}

#main-navigation a:hover {
  color: black;

}

#main-navigation .social_icons img {
  width: 50%;
  
}

#main-navigation .social_icons a:hover {
background-color: black;

}

li {
  text-decoration: none;
  list-style: none;
  
}

.navigation div {
  width: auto;
}
.navigation img {
  
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  }

header div {
    width: 25%;
}

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color: #dadada;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
  z-index: 1;
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:black
}
#scroll:hover {

  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}


#map {
  border: 0;
  filter: grayscale(80%) invert(95%) contrast(90%);
  width: 100%;
  height: 400px;
  z-index: 0;
}


body
{background-color: #090909;
  margin: 0;
  padding: 0;

  
  background: #090909;
  color: #dadada;
  font-family: "Montserrat", "Raleway", "Avenir Next", "Avenir", sans-serif;
}

section {

    margin: 2%;
    margin-top: 8%;

}
section img {
    width: 100%;
}

section h2,h4,p {
  margin-left: 10px;

}

.services {
  display: flex;
  flex-direction: column;
}

.services p {

  font-size: 16px;
}

article {
  
  display: flex;
  flex-direction: column;
  border: #e0e4e2 1px solid;
  margin: 5%;

}

article img {
    width: 100%;
    padding: 0;
}

article h4 {
  margin-top: 25px !important;
  margin: 10px;
height: 50px;
  font-size: 24px;
  text-align: center;
  
}

.services article p {
margin-top: 25px !important;
  margin: 10px;
  font-size: 22px;
  text-align: center;
}

.boton {
    border: 0;
    background-color: #e0e4e2;
    width: 100%;
    height: 45px;

    font-size: 16px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.boton a{
  text-decoration: none;
  color: #090909;
  text-align: center;
}

.descarga {
  display: none;
  
}

a {
  text-decoration: none;
}



article div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
  text-align: center;
}
h4 {
  font-size: 18px;
  margin-top: 20px;


}

.line {
  border-top: 1px solid #e0e4e2;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 0 auto;
}

hr {
  border: 0;
  border-bottom: 2px solid #e0e4e2;
  height:0;
  }

.inicio {
  display: flex;
  flex-direction: column;
}



.about p {
  text-align: center;
}

footer {
  width: 98%;
}


footer p {
  font-size: 11px;
  text-align: center;
  width: 98%;
}




.social_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


 footer .social_icons img {
  width: 25%;
}

.social_icons a {
  margin: 0;
  padding: 0;

  text-align: center;

}

label {
  margin-top: 10px;
}

input {
  background-color: #e0e4e2;
  border: 0;
  border-radius: 0;
  height: 35px;
}

textarea {
  background-color: #e0e4e2;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;

}

form * {
  margin: 2%;
}




@media (min-width: 480px) {

   p {
     font-size: 18px;
   }

   label {
    font-size: 18px;
   }

}



@media (min-width: 600px) {

  #menuToggle {
  display: none;
  }
 
  #main-navigation {
    display: block;
    }



.navigation {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0; 
  width: 100%; 
  height: 20%;
  align-items: center;
  opacity: 80%;
  
}

.navigation a {
  float: left;
  display: block;
  color: #dadada;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

.navigation a:hover {
  background: #ddd;
  color: black;
}

.navigation img {
  
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  }

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

main {

  margin-top: 32%;
}
form {
  width: 70%;
}

.send {
  width: 30%;
  font-size: 20px;
  
}

.services article {
  padding: 0;
}

}

@media (min-width: 800px) {


  header div {
      width: 25%;
  }


  #main-navigation .social_icons img {
    width: 30%;
    
  }
  main {

    margin-top: 25%;
  }


  p {
    font-size: 20px;
  }

  label {
   font-size: 20px;
  }
  .services {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .services article {

    width: 39%;
  }

  .descarga {
    display: block;
  }

  .reserva {
    display: none;
  }

  form {
    width: 60%;
    margin-bottom: 10px;

  }

}


@media (min-width: 1024px) {

.navigation {
  height: 20%;
}

header div {
  width: 15%;
}

#main-navigation .social_icons img {
width: 20%;

}

#main-navigation .social_icons {
  width: 80%;
  }

.inicio {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;

}
.inicio :first-child {
  width: 70%;
  margin-left: 5%;
}
.inicio img {
  width: 500px;
}

main {

  margin-top: 20%;
}


.services {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.services article {
  width: 30%;
  margin: 1%;
}

  form {
    width: 40%;
  }

}

@media (min-width: 1200px) {


  .navigation img {
    width: 60%;
  }


  #main-navigation .social_icons img {
  width: 30%;

  }

  #main-navigation .social_icons {
    width: 60%;
    }

  main {

    margin-top: 18%;
  }

  form {
    width: 40%;
  }

}

@media (min-width: 1600px) {

  .inicio {
    margin-top: 18%;
  }



  #main-navigation .social_icons img {
  width: 50%;

  }

  #main-navigation .social_icons {
    width: 25%;
    }


  main {
    margin-top: 10%;
  }

  .services {
    width: 100%;
    height: 30%;
justify-content: space-evenly;
  }

  .services article {
    width: 14%;

  }

  form {
    width: 40%;
  }

}


