
footer {
    position: absolute;
    bottom: 0;
}


footer .social_icons {

}
header {
    width: 99%;
    height: 99%;
}

h3 {
    margin-top: 200px;
}

footer {
    width: 99%;

}

  footer div {
      width: 99%;
  }
